body
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  
  padding: 0;
  margin: 0;
  min-width: 320px;
}

h1, h2, h3, h4, select
{
  font-family: "Roboto Condensed", "Helvetica Neue Condensed", "Arial", sans-serif;
  font-weight: 700;
  /* text-transform: uppercase; */
}

p
{
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 300;
  line-height: 175%;
}

a
{
  color: #b22222;
  text-decoration: none;
}

h1
{
  font-size: 6em;
}

h2
{
  font-size: 3em;
}

h3
{
  font-size: 1.5em;
}

p
{
  font-size: 1em;
  line-height: 150%;
}

button
{
  font-size: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* select
{
  font-size: 100%;
  color: red;
  
  background-color: #fff;
  border: 0;
} */

/* summary section */

#summary
{
  /* background-color: #ffbb00; */
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  height: 100vh;
  min-height: 400px;
}

#summary > *
{
  margin: auto;
}

#summary select
{
  display: inline-block;
  /* uncomment this to turn the dropdown arrow off */
  /* -webkit-appearance: none; */
  color: #b22222;
  background: none;
  border: none;
  font-size: inherit;

}

/* dummy element used to resize #current_location dynamically */
#summary select#current_location_temp {
  display: none;
}

/* status icons and messages */

#digdeeper i {
  display: none;
}

#digdeeper_loading {
  color: #ddd;
  display: inline-block;
}

#digdeeper .msg_loading {
  color: #ddd;
}

#digdeeper_error {
  color: #ee520a;
  display: none;
}

#digdeeper .msg_error {
  color: #ee520a;
}

#digdeeper_ok {
  color: #b22222;
  display: none;
}

#digdeeper .msg_ok {
  color: #b22222;
}

/* content sectiona */

.content_section
{
  padding: 0 40px;

  /* display: flex enabled by js event! */
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#detail {
  background-color: #eee;
}

#heatmap {
  background-color: #ddd;
}

.content_section .shiny-text-output, .content_section .firebrick
{
  color: #b22222;
}

.content_section .detail_element
{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}

.content_section .detail_element h2
{
  text-align: center;
  width: 100%;
}

/* plot-and-caption group: horizontal for desktop, vertical for mobile.
  for the heatmap section, make it vertical for both! */
.content_section .detail_element_content
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content_section .plot
{
  flex: 1 67%;
  width: 67%;
  margin: 0 0 0 10px;
}

.content_section .plot_caption 
{
  flex: 1 33%;
  width: 33%;
  height: auto;
  margin: 0 10px 0 0;
  text-align: justify;
}

@media (max-width: 760px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px)
{
  .content_section .detail_element_content
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .content_section .plot
  {
    width: 100%;
    flex: 1;
    margin: 0;
  }

  .content_section .plot_caption
  {
    flex: 1;
    width: 100%;
    height: auto;
    margin: 0 0 40px 0;
  }
}

.content_section .plot img
{
  width: 100%;
}

#heatmap .detail_element_content
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#heatmap .plot
{
  width: 100%;
  flex: 1;
  margin: 0;
}

#heatmap .plot_caption
{
  flex: 1;
  width: 100%;
  height: auto;
  margin: 0 0 40px 0;
}

/* footer section */

#footer
{
  background-color: #fff;
  color: #000;
  padding: 20px;
  text-align: center;
}

#footer h4
{
  font-size: 1.25em;
}

#footer p
{
  font-size: 0.75em;
}

/* plots */

.content_section_normal_plot
{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content_section_dist_plot
{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}